In [1]:
import pandas as pd

In [6]:
data=pd.read_csv(r'D:\SCDL\Python\Spotify.csv')         #import dataset

In [7]:
data.head()             #this cmd shows first five rows of data table

,Rank,Song,Streams (Billions),Artist,Release Date
0,1,Shape of You,"3,327",Ed Sheeran,6 January 2017
1,2,Blinding Lights,"3,323",The Weeknd,29 November 2019
2,3,Dance Monkey,"2,721",Tones And I,10.May.19
3,4,Someone You Loved,"2,588",Lewis Capaldi,8 November 2018
4,5,Rockstar,"2,570",Post Malone featuring 21 Savage,15 September 2017

In [8]:
data.isna().sum()               #basically this cmd shows null values from our dataset

Rank                  0
Song                  0
Streams (Billions)    0
Artist                0
Release Date          0
dtype: int64

In [9]:
data.tail()          #this cmd shows last five rows of data table

,Rank,Song,Streams (Billions),Artist,Release Date
95,96,I'm Yours,"1,490",Jason Mraz,12 February 2008
96,97,Despacito,"1,490",Luis Fonsi featuring Daddy Yankee,12 January 2017
97,98,Smells Like Teen Spirit,"1,487",Nirvana,10 September 1991
98,99,Sugar,"1,480",Maroon 5,29 August 2014
99,100,Rockstar,"1,478",DaBaby featuring Roddy Ricch,17 April 2020

In [10]:
data.describe()                                  #description of imported data like all count,mean,
                                                #standard deviation,minimum value,etc

             Rank
count  100.000000
mean    50.500000
std     29.011492
min      1.000000
25%     25.750000
50%     50.500000
75%     75.250000
max    100.000000

In [13]:
data['Artist'].value_counts()                      #counts of 'artist' in table

Ed Sheeran                               4
Imagine Dragons                          3
XXXTentacion                             3
Shawn Mendes                             3
Maroon 5                                 2
                                        ..
Camila Cabello featuring Young Thug      1
Travis Scott featuring Kendrick Lamar    1
The Neighbourhood                        1
John Legend                              1
DaBaby featuring Roddy Ricch             1
Name: Artist, Length: 82, dtype: int64

In [16]:
m1=data['Streams (Billions)'].mode()              #mode of 'Stream_billions' column

In [17]:
m1

0    1,490
1    1,515
2    1,618
3    1,669
4    1,721
5    1,756
6    1,808
Name: Streams (Billions), dtype: object