In [1]:
import mysql.connector

In [2]:
mydb = mysql.connector.connect(
    host='localhost',
    user='root',
    password='purushottam'
)

In [3]:
mycursor=mydb.cursor()

In [4]:
mycursor.execute("show databases;")

In [5]:
result = mycursor.fetchall()

In [6]:
for r in result:
    print(r)

('examples',)
('information_schema',)
('mysql',)
('performance_schema',)
('pydb',)
('ram',)
('sakila',)
('sys',)
('world',)

In [7]:
mycursor.execute("use examples;")

In [8]:
mycursor.execute("show tables;")

In [9]:
result = mycursor.fetchall()

In [10]:
for r in result:
    print(r)

('crime',)
('details',)
('ecom',)
('emloyee',)
('emp',)
('orders',)

In [11]:
mycursor.execute("select * from crime limit 5;")

In [12]:
result = mycursor.fetchall()

In [13]:
for r in result:
    print(r)

(1, 'State', 'Andhra Pradesh', 100, 36, 28, 29, 5, 8, 0, 8)
(2, 'State', 'Arunachal Pradesh', 24, 10, 13, 13, 0, 6, 5, 1)
(3, 'State', 'Assam', 37, 18, 8, 8, 1, 0, 0, 0)
(4, 'State', 'Bihar', 43, 0, 40, 40, 0, 0, 0, 0)
(5, 'State', 'Chhattisgarh', 65, 26, 32, 38, 1, 1, 0, 1)

In [14]:
mycursor.execute("create database pydb;")

DatabaseError: 1007 (HY000): Can't create database 'pydb'; database exists

In [ ]:
mycursor.fetchall()

In [15]:
def sqlexec(stmt):
    mycursor.execute(stmt)               #stmt= statement
    res = mycursor.fetchall()            #res= result
    for r in res:
        print(r)

In [16]:
stmt = 'show databases;'
sqlexec(stmt)

('examples',)
('information_schema',)
('mysql',)
('performance_schema',)
('pydb',)
('ram',)
('sakila',)
('sys',)
('world',)

In [17]:
stmt = 'use pydb;'
sqlexec(stmt)

In [20]:
stmt = 'create table emp1(id int,name varchar(100));'
sqlexec(stmt)

In [21]:
stmt = 'insert into emp1 values(1,"ram");'
sqlexec(stmt)

In [22]:
stmt = 'select * from emp1;'
sqlexec(stmt)

(1, 'ram')

In [23]:
mydb.commit()